<div class="tasks-list">
  <div class="tasks-list">
    <ng-container *ngIf="!isLoading; else loading">
      <ng-container *ngIf="tasks.length > 0; else noTasks">
        <div class="task-list-container">
          <div class="task-list-header">
            <div
              class="header-title"
              style="cursor: pointer"
              (click)="onSort('title')"
            >
              Task
              <span *ngIf="sortBy === 'title'" class="sort-icon">
                <svg
                  width="16"
                  height="16"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    *ngIf="sortDirection === 'asc'"
                    d="M12 4l-8 8h16z"
                    fill="#64748B"
                  />
                  <path
                    *ngIf="sortDirection === 'desc'"
                    d="M12 20l8-8H4z"
                    fill="#64748B"
                  />
                </svg>
              </span>
            </div>

            <div
              style="cursor: pointer"
              class="header-due-date"
              (click)="onSort('dueDate')"
            >
              Due Date
              <span class="sort-icon">
                <svg
                  width="16"
                  height="16"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    *ngIf="sortDirection === 'desc'"
                    d="M12 4l-8 8h16z"
                    fill="#64748B"
                  />
                  <path
                    *ngIf="sortDirection === 'asc'"
                    d="M12 20l8-8H4z"
                    fill="#64748B"
                  />
                </svg>
              </span>
            </div>

            <div class="header-category" *ngIf="showCategory">Category</div>
            <div class="header-actions">Actions</div>
          </div>

          <div class="task-list-body">
            <div
              *ngFor="let task of tasks; trackBy: trackByTaskId"
              class="task-row"
              (click)="onTaskClick(task, $event)"
            >
              <div class="task-title">
                <span class="title-text">{{ task.title }}</span>
                <app-status-badge
                  [status]="task.status"
                  size="sm"
                ></app-status-badge>
                <div *ngIf="task.description" class="task-description">
                  {{ task.description }}
                </div>
              </div>

              <div class="task-due-date">
                <span>{{ task.dueDate | date:'shortDate' }}</span>
              </div>

              <div class="task-category" *ngIf="showCategory">
                <span
                  class="category-dot"
                  *ngIf="task.categoryId"
                  [style.background]="'#4f46e5'"
                ></span>
                <span>{{ task.category?.title || 'Not assigned' }}</span>
              </div>

              <div class="task-actions">
                <app-button
                  size="medium"
                  type="secondary"
                  icon="edit"
                  (click)="editTask.emit(task)"
                  tooltip="Edit task"
                  >Edit</app-button
                >
                <app-button
                  type="danger"
                  size="medium"
                  icon="delete"
                  (click)="deleteTask.emit(task.id)"
                  tooltip="Delete"
                  >Delete</app-button
                >
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>

    <ng-template #loading>
      <div class="loading-message">
        <div class="custom-spinner"></div>
        <p>Loading tasks...</p>
      </div>
    </ng-template>

    <ng-template #noTasks>
      <div class="no-tasks-message">
        <img src="/assets/icons/notask.svg" alt="" />
        <h3>No tasks found</h3>
        <p>Get started by creating it.</p>
      </div>
    </ng-template>
  </div>
</div>
