<div class="filter-panel">
  <form [formGroup]="filterForm" class="filter-container">
    <app-input-field
      *ngIf="config.showTitle"
      class="search-field"
      [label]="config.titleLabel || 'Search'"
      [placeholder]="config.titlePlaceholder || 'Search by title'"
      icon="search"
      [formControl]="titleControl"
    ></app-input-field>

    <app-select
      *ngIf="config.showStatus"
      class="status-field"
      label="Status"
      [options]="statusOptions"
      [formControl]="statusControl"
    >
    </app-select>

    <app-select
      *ngIf="config.showCategory"
      class="category-field"
      label="Category"
      [options]="categoryOptions"
      [formControl]="categoryIdControl"
    >
    </app-select>

    <div *ngIf="config.showDateRange" class="input-container">
      <label class="input-label">Date range</label>
      <div class="input-wrapper">
        <mat-date-range-input
          [formGroup]="filterForm"
          [rangePicker]="picker"
          class="custom-date-range"
        >
          <input
            matStartDate
            formControlName="fromDate"
            class="input-field"
            placeholder="From date"
          />
          <input
            matEndDate
            formControlName="toDate"
            class="input-field"
            placeholder="To date"
          />
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </div>
    </div>

    <div class="action-buttons">
      <app-button type="text" size="medium" icon="refresh" (click)="onReset()"
        >Reset</app-button
      >
    </div>
  </form>
</div>
