<div class="input-container" [class.has-error]="error">
  <label *ngIf="label" class="input-label">{{ label }}</label>

  <div class="input-wrapper">
    <ng-container *ngIf="!textarea; else textareaBlock">
      <input
        class="input-field"
        [type]="type"
        [placeholder]="placeholder"
        [value]="value"
        [disabled]="disabled"
        [attr.maxLength]="maxLength"
        (input)="onInput($event)"
      />
    </ng-container>

    <ng-template #textareaBlock>
      <textarea
        class="input-field"
        [rows]="rows"
        [placeholder]="placeholder"
        [value]="value"
        [disabled]="disabled"
        [attr.maxLength]="maxLength"
        (input)="onInput($event)"
      ></textarea>
    </ng-template>
  </div>

  <div *ngIf="error" class="error-message">{{ error }}</div>
</div>
